body {
	background-color: #F5FEEC;
	font-family: Arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color: #E78E8B;
	font-size: 80px;
}

.container {
    display: table;
    width: 100%;
}

.row {
	display: table-row;
}
.column {
	display:table-cell;
}

p {
	color: #404050;
	font-size: 20px;
}

a {
	color: #E78E8B;
	font-weight: bold;
}

a:visited {
	color:#A36462;
}

a:hover {
	color: #42006a;
}

#copyright {
	font-size: 15px;
}